form{
    background-color: mintcream;
    width: 25%;
    overflow: auto;
}

form > div{
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
}

form :is(input, select, textarea){
    border: medium solid darkslateblue;
    border-radius: 0.25em;
    width: 100%;
}

form > div:has( button[type=submit]) {
    text-align: center;
} 

form input[type=email]:invalid{
    background-color: tomato;
    color: white;
}